<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="nothing" class="img-responsive">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" #toggleButton appDropdownMenu>
      <a class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">ِAdd to shoppping cart</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>{{recipe.description}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Ingredients</h3>
  </div>
</div>

