<div class="row">
  <div class="col-xs-12">
    <h1>{{name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <img [src]="imagePath" alt="nothing" class="img-responsive">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">ِAdd to shoppping cart</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delet Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>{{description}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Indegredients</h3>
  </div>
</div>
